<div class="side-bar right-bar nicescroll" tabindex="1" style="overflow: hidden; outline: none;">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll" tabindex="2" style="overflow: hidden; outline: none;">
        <ul class="list-group contacts-list">
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-1.jpg" alt="">
                    </div>
                    <span class="name">Chadengle</span>
                    <i class="fa fa-circle online"></i>
                </a>
                <span class="clearfix"></span>
            </li>
            
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-2.jpg" alt="">
                    </div>
                    <span class="name">Tomaslau</span>
                    <i class="fa fa-circle online"></i>
                </a>
                <span class="clearfix"></span>
            </li>
            
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-3.jpg" alt="">
                    </div>
                    <span class="name">Stillnotdavid</span>
                    <i class="fa fa-circle online"></i>
                </a>
                <span class="clearfix"></span>
            </li>
            
            <li class="list-group-item">
               <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-4.jpg" alt="">
                    </div>
                    <span class="name">Kurafire</span>
                    <i class="fa fa-circle online"></i>
                </a>
                <span class="clearfix"></span>
            </li>
            
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-5.jpg" alt="">
                    </div>
                    <span class="name">Shahedk</span>
                        <i class="fa fa-circle away"></i>
                </a>
                <span class="clearfix"></span>
            </li>
            
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-6.jpg" alt="">
                    </div>
                    <span class="name">Adhamdannaway</span>
                    <i class="fa fa-circle away"></i>
                </a>
                <span class="clearfix"></span>
            </li>
            
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-7.jpg" alt="">
                    </div>
                    <span class="name">Ok</span>
                    <i class="fa fa-circle away"></i>
                </a>
                <span class="clearfix"></span>
            </li>
    
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-8.jpg" alt="">
                    </div>
                    <span class="name">Arashasghari</span>
                    <i class="fa fa-circle offline"></i>
                </a>
                <span class="clearfix"></span>
            </li>
     
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-9.jpg" alt="">
                    </div>
                    <span class="name">Joshaustin</span>
                    <i class="fa fa-circle offline"></i>
                </a>
                <span class="clearfix"></span>
            </li>
       
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="/media/images/users/avatar-10.jpg" alt="">
                    </div>
                    <span class="name">Sortino</span>
                    <i class="fa fa-circle offline"></i>
                </a>
                <span class="clearfix"></span>
            </li>
        </ul>  
    </div>

    <div id="ascrail2001" class="nicescroll-rails nicescroll-rails-vr" style="width: 8px; z-index: 99; cursor: default; position: absolute; top: 53px; left: 232px; height: 531px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 6px; height: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 0px; background-color: rgb(157, 158, 165); background-clip: padding-box;">
        
        </div>
    </div>

    <div id="ascrail2001-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 8px; z-index: 99; top: 576px; left: 0px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 6px; width: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 0px; background-color: rgb(157, 158, 165); background-clip: padding-box;">
        
        </div>
    </div>

</div>
