{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="{% static 'asset/images/favicon_1.ico' %}">

        <title>Mulyo Tronik</title>

        <!-- Custom Files -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/pages.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/menu.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'asset/css/responsive.css' %}" rel="stylesheet" type="text/css">

        <script src="{% static 'assets/js/modernizr.min.js' %}"></script>
    </head>
    <body>


        <div class="wrapper-page">
           
            {% block isi %}
            {% endblock %}
        </div>


        
    	<script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <script src="{% static 'assets/js/jquery.min.js"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'assets/js/detect.js"></script>
        <script src="{% static 'assets/js/fastclick.js"></script>
        <script src="{% static 'assets/js/jquery.slimscroll.js"></script>
        <script src="{% static 'assets/js/jquery.blockUI.js"></script>
        <script src="{% static 'assets/js/waves.js"></script>
        <script src="{% static 'assets/js/wow.min.js"></script>
        <script src="{% static 'assets/js/jquery.nicescroll.js"></script>
        <script src="{% static 'assets/js/jquery.scrollTo.min.js"></script>

        <script src="{% static 'assets/js/jquery.app.js"></script>
	
	</body>

</html>