<div class="form-group row">
    <div class="col-sm-0"></div>
    <label class="col-sm-3 control-label" for="jenjang">Pendidikan Terakhir</label>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-4">
                <select name="jenjang" id="jenjang" class="form-control">
                    <option value="">Jenjang</option>
                    <option value="1">SD</option>
                    <option value="2">SMP</option>
                    <option value="3">SMA</option>
                    <option value="4">Diploma 1</option>
                    <option value="5">Diploma 2</option>
                    <option value="6">Diploma 3</option>
                    <option value="7">Diploma 4</option>
                    <option value="8">Strata 1</option>
                    <option value="9">Strata 2</option>
                    <option value="10">Strata 3</option>
                </select>        
            </div>
        
            <div class="col-sm-6">        
                <input type="text" class="form-control" id="almamater" name="almamater" placeholder="Nama Lembaga Pendidikan" />
            </div>
            <div class="col-sm-2">        
                <select data-toggle="tooltip" title="Tahun Lulus Pendidikan" class="form-control" id="lulus" name="lulus">
                    {% for thn in tahun %}
                        {% if thn == sekarang %}
                            <option value="{{thn}}" selected>{{thn}}</option>
                        {% else %}
                            <option value="{{thn}}">{{thn}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>