{% extends 'account/index.html' %}
{% load static %}
{% block isi%}        
<div class="card card-pages">
    <div class="card-header bg-img"> 
        <div class="bg-overlay"></div>
            <h3 class="text-center m-t-10 text-white">&nbsp;</h3>
    </div> 

    <div class="card-body" style="padding-top:0px">
        <form method="post" action="#" class="text-center"> 
            <div class="user-thumb"> 
                <img src="{% static 'images/users/avatar-1.jpg' %}" class="img-fluid rounded-circle img-thumbnail" alt="thumbnail">
            </div> 
  
            <div class="form-group"> 
                <h3>John Deo</h3> 
                <p class="text-muted">Enter your password to access the admin.</p> 
                <div class="input-group m-t-30"> 
                    <input type="password" class="form-control" placeholder="Password"> 
                    <span class="input-group-append"> 
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Log In</button> 
                    </span> 
                </div> 
            </div> 
            
            <div class="text-right">
                <a href="{% url 'login' %}">Not John Deo ?</a>
            </div>
        </form>         

    </div>                                             
</div>
{% endblock %}